
<aside class="aside">
  <a class="dash-nav dash-link-img" href="/">
    <i class="fas fa-home" style="color: #59bd3d;"></i>
  </a>
  <a class="dash-nav dash-link-img" href="/visitors/add?token=<%=token%>">
    <i class="fas fa-user-plus" style="color: #59bd3d;"></i>
   </a>
  <a class="dash-nav dash-link-img" href="/visitors?token=<%=token%>">
    <i class="fas fa-users" style="color: #59bd3d;"></i>
  </a>
  <a class="dash-nav dash-link-img" href="/profile?token=<%=token%>">
     <i class="fas fa-user-cog" style="color: #59bd3d;"></i>
  </a>
</aside>
<button class="menu-icon">
  <i class="fas fa-bars "  style="color: #59bd3d;" ></i>
</button>
