<%- include('./partials/head'); %>  
</head>
<body class="landing-body">
    <section>
     <div class="landing-text">
         <p class="hello-text">Halloo <span class="hello-emoji">👋👋</span></p>
         <h1 class="welcome-text">Welcome to <span class="wlcm-text">Vizit</span> </h1>
         <p class="helper-text">Keep track of your esteemed guests and visitors timein and out.</p>
    </div>
    <div class="landing-btn">
      <a  href="/signup" class="btn register-btn">
        Get started
      </a>
      <a  href="/login" class="btn login">
       Sign in
      </a>
    </div>
    </section>
    <a class="buy-coffee" href="/buycoffee">
      <img class="buy-coffee-img" src="/static/images/coffee.svg">
    </a> 
</body>
</html>